.lead__title {
  display: flex;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  min-width: 288px;
  max-width: 720px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
    line-height: calc((100vw - 320px) / (768 - 320) * (100 - 44) + 44px);
  }
}
