.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  margin: 0 auto 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding-left: 16px;
    text-align: left;
    padding-right: 16px;
  }
}
