.intro {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 690px;
    min-width: 288px;
    margin-left: 148px;
}

@media screen and (max-width: 1280px) {
    .intro {
    margin-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
    }
}

@media screen and (max-width: 1024px) {
    .intro { 
    max-width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
    margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    margin-top: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));

}
}

@media  screen and (max-width: 768px) {
    .intro {
    max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
    margin-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    margin-left: auto;
    margin-right: auto;
    }
}