.lead__subtitle {
    max-width: 640px;
    margin: 32px auto 0;
    font-size:30px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
@media screen and (max-width: 768px) {
.lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (768 - 320)));
    margin-top: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
}   
}

@media screen and (max-width: 320px) {
 .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
}  
}