.footer__item {
  margin: 0 14px 0 0;
  padding: 0;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__item {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }
}